body {
  padding-top: 50px; /* Adjust this value based on your navbar height */
  transition: padding-top 0.3s ease;
  background-color: white;
}

body.sticky-nav {
  padding-top: 64px; /* Adjust this value to match your navbar height */
}
